body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  height: 30vh;
}

#show_time {
  color: #fff;
  text-align: center;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.d-flex * {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #fff;
}
