body {
  background: linear-gradient(-45deg, #eb5c09, #c90953, #0d80aa, #0daa85);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
  background-repeat: no-repeat;
  padding: 0.5rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


#show_time {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.d-flex * {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #fff;
}
